<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="vn.vihat.omisample.MainApplication"
        android:allowBackup="false"
        android:alwaysRetainTaskState="true"
        android:enableOnBackInvokedCallback="true"
        android:exported="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:dataExtractionRules="@xml/data_extraction_rules">

        <activity
            android:name="vn.vihat.omisample.MainActivity"
            android:alwaysRetainTaskState="true"
            android:exported="true"
            android:largeHeap="true"
            android:launchMode="singleTask"
            android:showOnLockScreen="true"
            android:theme="@style/Theme.OMICall">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="vn.vihat.omisample.CallingActivity"
            android:alwaysRetainTaskState="true"
            android:largeHeap="true"
            android:showOnLockScreen="true"
            android:theme="@style/Theme.OMICall"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.CALL" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="incoming_call"
                    android:scheme="omisdk" />
            </intent-filter>
        </activity>

        <receiver
            android:name="vn.vihat.omicall.omisdk.receiver.FirebaseMessageReceiver"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="remoteMessaging"
            android:permission="com.google.android.c2dm.permission.SEND"
            tools:replace="android:exported">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>

        <service
            android:name="vn.vihat.omicall.omisdk.service.NotificationService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>